---
export const prerender = true;
import { type CollectionEntry, getCollection } from "astro:content";
import { frontMatterHome } from "../../data/siteConfig";
import FormattedDate from "../../components/FormattedDate.astro";
import Layout from "../../layouts/Layout.astro";
import BlogLayout from "../../layouts/BlogLayout.astro";
export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;
const post = Astro.props;
const { heroImage, pubDate, updatedDate, title, description } = post.data;
const { Content } = await post.render();
---

<BlogLayout title={title} description={description}>
  <article>
    <div class="hero-image">
      {heroImage && <img width={1020} height={510} src={heroImage} alt="" />}
    </div>
    <div class="prose">
      <div class="title">
        <div class="date">
          <FormattedDate date={pubDate} />
          {
            updatedDate && (
              <div class="last-updated-on">
                Last updated on <FormattedDate date={updatedDate} />
              </div>
            )
          }
        </div>
        <h1>{title}</h1>
        <hr />
      </div>
      <Content />
    </div>
  </article>
</BlogLayout>
