---
import FormattedDate from "../../components/FormattedDate.astro";
import { frontMatterHome } from "../../data/siteConfig";
import BlogLayout from "../../layouts/BlogLayout.astro";
const { title, description, author } = frontMatterHome;

// Importamos todos los blogs

import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf(),
);
---

<BlogLayout title={title} description={description} author={author}>
  <style>
    .container-blog {
      width: 960px;
      max-width: calc(100% - 2em);
      margin: auto;
      padding: 3em 1em;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      margin: 0;
      padding: 0;
    }
    ul li {
      list-style-type: none;
      width: calc(50% - 1rem);
    }
    ul li * {
      text-decoration: none;
      transition: 0.2s ease;
    }
    ul li:first-child {
      width: 100%;
      margin-bottom: 1rem;
      text-align: center;
    }
    ul li:first-child img {
      width: 100%;
    }
    ul li:first-child .title {
      font-size: 2.369rem;
    }
    ul li img {
      margin-bottom: 0.5rem;
      border-radius: 12px;
    }
    ul li a {
      display: block;
    }
    .title {
      margin: 0;
      line-height: 1;
    }
    .date {
      margin: 0;

      line-height: 1;
      text-align: center;
    }
    @media (max-width: 720px) {
      ul {
        gap: 0.5em;
      }
      ul li {
        width: 100%;
        text-align: center;
      }
      ul li:first-child {
        margin-bottom: 0;
      }
      ul li:first-child .title {
        font-size: 1.563em;
      }
    }
  </style>
  <section class="container-blog">
    <ul>
      {
        posts.map((post) => (
          <li>
            <a href={`/blog/${post.slug}/`}>
              <img width={720} height={360} src={post.data.heroImage} alt="" />
              <h4 class="title text-primary">{post.data.title}</h4>
              <p class="date">
                <FormattedDate date={post.data.pubDate} />
              </p>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</BlogLayout>
